__pycache__/
*.pyc
*.tmp
*.xml
*.log

config.yaml
dock_build.bat
db.db
demo.txt
test.yaml
item

.venv/
.idea/
.trae/
.vscode/launch.json
.env

build/
dist/
web_ui/dist/
web_ui/node_modules/

data/
data1/
static/cache/
static/wx_qrcode.png
static/assets/
static/index.html

doc2pdf/*.docx
doc2pdf/*.pdf

web_ui/package-lock.json
web_ui/yarn.lock
